.chatting{
  display: flex;
  flex-direction: column-reverse;
  width: 30%;
  height: 50%;
  background-color: #eee;
  position: fixed;
  right: 5%;
  bottom: 15%;
  z-index: 20;
}

#messages{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  background-color: #c0d6eb;
  margin: 2%;
  overflow-y: auto;
}

#messages::-webkit-scrollbar{
  display:none;
}

.send{
  display: flex;
  justify-content: space-around;
  margin: 0 2%;
  margin-bottom: 2%;
}

.send input{
  width: 70%;
}

.send button{
  width: 30%;
}

.chat_icon{
  width: 5%;
  position: fixed;
  right: 5%;
  bottom: 1%;
  z-index: 20;
}

.chat_icon:hover{
  cursor: pointer;
}