.chatting{
  display: flex;
  flex-direction: column-reverse;
  width: 30%;
  height: 50%;
  background-color: #222;
  position: fixed;
  right: 5%;
  bottom: 15%;
  z-index: 20;
}

#messages{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  border: 1px solid #000;
  background-color: #eee;
  margin: 2%;
  overflow-y: auto;
}

#messages::-webkit-scrollbar{
  display:none;
}

.send{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.send input{
  width: 70%;
}

.send button{
  width: 20%;
}

.chatIcon{
  width: 5%;
  position: fixed;
  right: 5%;
  bottom: 1%;
  z-index: 20;
}

.chatIcon:hover{
  cursor: pointer;
}