@font-face {
    font-family: "goding";
    src: url("../../clova-all/고딕_아니고_고딩/나눔손글씨\ 고딕\ 아니고\ 고딩.ttf");
}
*{
    font-family:"goding";
}
.page1{
    background: url('../../image/jeju/yellow1.jpg')no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    font-size: 50px;
}
/* hr{
    width: 100%;
} */
.navbar{
display: flex;
justify-content: space-around;
padding: 10px 10px;
list-style: none;
align-items: center;
width: 80%;
margin: 0;
/* background-color: blue; */
box-sizing: border-box;
font-size: 30px;
height: 80px;
font-weight: bold;
}
.navbar a:hover{
    background-color: orange;
    border-radius: 20px;
    color: white;
}
.navMain{
    display: flex;
}
.navMenu{
list-style: none;
display: flex;
text-align: center;
padding: 0;
}
.navLogin{
    display: flex;
    align-items: center;
    font-size: 50px;
}
a,li{
    color: black;
    text-decoration: none;
    /* font-size: 40px; */
    padding: 10px;
}
body{
    margin:0;
    position: relative;
}
.head{
    align-items: center;
    text-align: center;
    font-size: 30px;
    /* background-color: aqua; */
    height: 900px;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.head > .festivalName{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.festivalName{
    font-size: 40px;
    /* background-color: gold; */
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
}
.festivalName > h1{
    padding: 50px;
    font-size: 100px;
}
.boxM{
    display: flex;
    justify-content: center;
}
.box{
    display: inline-block;
    border: 1px solid black;
    color: black;
    margin-right: 50px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    /* background-color: white; */
}
#box1{
    width: 400px;
    height: 500px;
    box-sizing: border-box;
    background-size: cover;
    background-image: url("../../image/jeju/\(서귀포동부보건소\)_동부보건소와_함께하는_유채꽃_건강걷길.jpg")
    ;    
}
iframe{
    border-radius: 20px;
}
#box2{
    width: 700px;
    height: 500px;
    box-sizing: border-box;
    background-color: black;
}
#box2 > p{
    margin: 10px 0px 0px 0px ;
    font-size: 20px;
    color: white;
    font-family: 'goding';
}

.welcome{
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 20px;   
    width: 600px;
    height: 80px;
    background-color: #DEEBFE;
    align-items: center; 
    text-align: center;
    color: #004A7A;
}
.head > .welcome{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.go{
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color:#0473D2;
    font-style: bold;
    color: white;
    font-size: 20px;
}

