@font-face {
    font-family: "winner";
    src: url("../../clova-all/나는_이겨낸다/나눔손글씨\ 나는\ 이겨낸다.ttf");
}
*{
    font-family: "winner";
    color: black;
    font-weight: bold;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    /* 스무스 스크롤링 */
    height: 100vh;
}
.header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    /* 다른 요소 위에 헤더가 표시되도록 설정합니다. */
    opacity: 0.7;
}
.left-content {
    margin-left: 100px;
    display: flex;
    align-items: center;

}
.left-content > div {
    margin-right: 30px;
}
.center-content {
    display: flex;
    align-items: center;
}
.right-content {
    display: flex;
    align-items: center;
    margin-right: 120px;
    /* 로그인 메뉴와 왼쪽 컨텐츠 사이의 여백을 조정합니다. */
    position: relative;
    /* 상대 위치 설정 */
}
a {
    text-decoration: none;
    color: white;
}
.center-content,
.left-content,
.right-content {
    font-weight: bold;

}

.login-menu {
    position: relative;
    /* 상대 위치 설정 */
    cursor: pointer;
    /* 마우스 포인터 설정 */
}
.dropdown-content {
    display: none;
    /* 드롭다운 숨김 */
    position: absolute;
    /* 절대 위치 설정 */
    background-color: black;
    /* 드롭다운 배경색 */
    min-width: 120px;
    /* 최소 너비 */
    padding: 10px;
    /* 내부 여백 */
    z-index: 1;
    /* 다른 요소 위에 표시 */
    right: 30;
    /* 우측 정렬 */
    top: 20px;
    /* 위쪽에 붙임 */
}
.login-menu:hover .dropdown-content {
    display: block;
    /* 마우스 호버시 드롭다운 표시 */
}
.dropdown-content a {
    color: white;
    /* 링크 색상 */
    text-decoration: none;
    /* 밑줄 제거 */
    display: block;
    /* 블록 요소로 표시 */
    padding: 5px 0;
    /* 내부 여백 */
    border: 2px solid white;
    /* 테두리 추가 */
    border-top: none;
}
.dropdown-content a:first-child {
    border-top: 2px solid white;
}
.dropdown-content a:hover {
    background-color: #555;
    /* 링크 호버시 배경색 */
}

section{
    height: 100%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    text-align: left;
    
    
}
section main{
    display: inline-block;
    text-align: left;
}

table{
    width: 600px;
    border-collapse:collapse;
    font-size: 2em;
    
}
h2{
    font-size: 3em;
}

th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right:2px solid black ;
    border-left: 2px solid black;
    border-top: 2px solid black;
    
}
th{
    background-color: rgb(174, 228, 245);
}

.myMenu{
    display: flex;
    justify-content:left;
    font-size: 1.9em;
    
    
}
.myMenu >div{
    padding: 10px;
    margin: 0 5px;
    
    
}